<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easy_voting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".AdminFeatures" />
        <activity android:name=".ListViewPurpose" />
        <activity android:name=".CreatePollActivity" />
        <activity android:name=".Final_create_poll" />
        <activity android:name=".UserPolls" />
        <activity android:name=".ElectionCandidate" />
        <activity android:name=".viewResultUser" />
        <activity android:name=".viewVotedPolls" />
        <activity android:name=".showResultElection" />
        <activity android:name=".edit_profile" />
        <activity android:name=".showVotedElectionCandidates" />
        <activity android:name=".CandidateElectionDetails" />
        <activity android:name=".UpdatePoll" />
        <activity android:name=".UpdateCandidate"></activity>
    </application>

</manifest>